<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("./partials/miniMenu") %>

    <h1>
      <%= title %>
    </h1>
    <p>Busqueda: <%= search%>
    </p>
    <ul>
      <% for(let i=0; i<moviesResult.length; i++) { %>
        <li>
          <%= moviesResult[i]%>
        </li>
        <% } %>
    </ul>

</body>

</html>