<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("../views/movie-menu-view") %>

    <div class="movies-title">

      <span>
        GENERO: <%= genre.name %>
      </span>

    </div>

    <div class="movie-row">
      <span>PELICULAS:</span>
    </div>

    </p>
    <ul>
      <% for(let i=0; i<genre.movies.length; i++) { %>
        <li>
          <a href="http://localhost:3000/movies/id/<%=genre.movies[i].id%>">
            <%= genre.movies[i].title%>
          </a>
        </li>
        <% } %>
    </ul>

</body>

</html>