<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("../views/movie-menu-view") %>

    <div class="movies-title">

      <span>
        PELICULAS:
      </span>

    </div>

    <div class="movie-row">
      <span>BUSQUEDA:</span>
      <span>
        "<%= search%>"
      </span>
      <a href="http://localhost:3000/movies/">X</a>
    </div>

    <div class="movie-row">
      <span>PELICULAS:</span>
    </div>

    <ul>
      <% for(let i=0; i<moviesList.length; i++) { %>
        <li>
          <a href="http://localhost:3000/movies/id/<%=moviesList[i].id%>">
            <%= moviesList[i].title%>
          </a>
        </li>
        <% } %>
    </ul>

</body>

</html>