<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("../views/movie-menu-view") %>

    <div class="movies-title">

      <span>
        ACTOR: <%=actor.first_name%>
          <%=actor.last_name%>
      </span>

    </div>

    <div class="movie-row">
      <span>PELICULAS:</span>
    </div>

    <ul>
      <% for(let i=0; i<actor.movies.length; i++) { %>
        <li>
          <a href="http://localhost:3000/movies/id/<%=actor.movies[i].id%>">
            <%= actor.movies[i].title%>
          </a>
        </li>
        <% } %>
    </ul>

</body>

</html>