<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("../partials/miniMenu") %>

    <h1>
      <%=title%> ID: <%=actor.id%>
    </h1>
    <p>NOMBRE: <%=actor.first_name%> <%=actor.last_name%>
    </p>
    <ul>
      <% for(let i=0; i<actor.movies.length; i++) { %>
        <li>
          <a href="http://localhost:3000/movies/id/<%=actor.movies[i].id%>">
            <%= actor.movies[i].title%>
          </a>
        </li>
        <% } %>
    </ul>

</body>

</html>